body {
    font-family: monospace;
}
/* div.nav {margin-bottom: 2%} */
/* pre.utterance { border-left: solid #888; padding: 10px } */
/* td.error { background-color: pink; } */
/* td.morword { padding: 5px } */
/* ul.messages li { background-color: yellow; padding: 5px; } */

div.utterance {
    background-color: #FFFFFF;
    border: 1px solid #DDDDDD;
    border-radius: 4px 4px 4px 4px;
    margin: 15px 0;
    padding: 39px 19px 14px;
    position: relative;
   overflow:hidden;
   width: 95%;
   margin-top: 40px;
   display: table;
   margin-bottom: 40px;
}
div.utterance .maintier {
    margin-bottom: 20px;
}
/* ul { list-style: none; display:block;} */
div.utterance li {padding-bottom: 5px; }
div.utterance li.error {
    border: 1px; border-bottom-style: dashed;
}
/* div.utterance li { float: left; border: 2px solid white; display: block; padding: 2px 0 2px 0; */
/*    margin-right: 10px} */
div.utterance li.error div span {background-color:#ffe6ea; }
div.utterance li.error div span.correction {background-color: #eaffe5; }
div.errorspec { margin-bottom: 20px }
div.errorspec div { margin-bottom: 10px }
div.errorspec div span { padding: 5px}
div.errorspec div.error span { background-color:#ffe6ea; }
div.errorspec div.replacement span { background-color: #eaffe5; }
