{% load url from future %}
{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>LARC Childes Correction Approver</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="">

    <!-- Le styles -->
    <link href="{% static 'bootstrap/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <style>
      body {
        padding-top: 60px; /* 60px to make the container go all the way to the bottom of the topbar */
      }
    </style>
    <link href="{% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet">

    <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="{% static 'bootstrap/js/html5shiv.js' %}"></script>
    <![endif]-->

    <!-- Fav and touch icons -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{% static 'bootstrap/ico/apple-touch-icon-144-precomposed.png' %}">
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{% static 'bootstrap/ico/apple-touch-icon-114-precomposed.png' %}">
      <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{% static 'bootstrap/ico/apple-touch-icon-72-precomposed.png' %}">
                    <link rel="apple-touch-icon-precomposed" href="{% static 'bootstrap/ico/apple-touch-icon-57-precomposed.png' %}">
                                   <link rel="shortcut icon" href="{% static 'bootstrap/ico/favicon.png' %}">
  </head>

  <body>

    <div class="navbar navbar-inverse navbar-fixed-top">
      <div class="navbar-inner">
        <div class="container">
          <button type="button" class="btn btn-navbar" data-toggle="collapse" data-target=".nav-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
	  {% if user.is_authenticated %}
          <a class="brand" href="{% url 'user_activity' username=user.username %} ">
	    {{ user.username }}</a>
          {% else %}
          <a class="brand login" href="#" onclick="$('.login').show(); $('#username').focus()">
            log in
          </a>
          <div class="login modal hide">
            <div class="modal-body">
              <form method="POST" action="{% url 'login' %}">
                <fieldset>
                  <legend>Log In</legend>
                  <input id="username" type="text" name="username" placeholder="username">
                  <input type="password" name="password" placeholder="password">
                  <input type="hidden" name="came_from"
                         value="{{ request.get_full_path }}">
                  {% csrf_token %}
                  <button type="submit" class="btn">Submit</button>
                </fieldset>
              </form>
            </div>
          </div>
	  {% endif %}
          <div class="nav-collapse collapse">
            <ul class="nav">
	      <li>
		<a href="{% url 'home' %}">transcripts</a>
	      </li>
	      <li>
	      <a href="{% url 'next_correction' %}">
		start checking
	      </a>
	      </li>
	      {% if user.is_authenticated %}
	      <li>
              <a href="{% url 'user_activity' username=user.username%}">
		view your edit history</a>
	      </li>
	      <li>
		<a href="{% url 'logout' %}">logout</a>
	      </li>
	      {% endif %}
          </div><!--/.nav-collapse -->
        </div>
      </div>
    </div>

    <div class="container">
      {% if messages %}
      <ul class="messages">
	{% for message in messages %}
	<li{% if message.tags %} class="alert {{ message.tags }}"{% endif %}>{{ message|safe }}</li>
	{% endfor %}
      </ul>
      {% endif %}

      <p>
      {% block content %}
      {% endblock content %}
      </p>
    </div> <!-- /container -->

    <!-- Le javascript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="{% static 'jquery.js' %}"></script>
    <script src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
  </body>
</html>
