{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<h1>activity for everyone</h1>
{% if is_paginated %}
  {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_previous %}
    <a href="{% url 'all_activity' %}?page={{ page_obj.previous_page_number }}">
      newer</a>&nbsp;
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{% url 'all_activity' %}?page={{ page_obj.next_page_number }}">
      older
    </a>
  {% endif %}
{% endif %}
<ul>
  {% for jm in judgment_list %}
  <li>[{% firstof jm.created|naturaltime '?' %}] {{ jm.author }}
  {% if jm.approved %}
    Approved as {{ jm.error_type }}: <a href="{% url 'judge_correction' jm.correction.pk %}">
  {% else %}
    Changed/Annotated <a href="{% url 'edit_correction' jm.correction.pk %}">
  {% endif %}
  {{ jm.correction }}
  </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
