{% extends 'base.html' %}
{% load humanize %}

{% block content %}

<h1>activity for {{ target_user }} </h1>
{% if is_paginated %}
  {{ page_obj.number }} / {{ page_obj.paginator.num_pages }}
  {% if page_obj.has_previous %}
    <a href="{% url 'user_activity' username=target_user.username %}?page={{ page_obj.previous_page_number }}">
      newer</a>&nbsp;
  {% endif %}
  {% if page_obj.has_next %}
    <a href="{% url 'user_activity' username=target_user.username %}?page={{ page_obj.next_page_number }}">
      older
    </a>
  {% endif %}
{% endif %}
<ul>
  {% for jm in judgment_list %}
  <li>[{% firstof jm.created|naturaltime '?' %}]
  {% if jm.approved %}
    Approved as {{ jm.error_type }}: <a href="{% url 'judgment_detail' pk=jm.pk %}">
  {% else %}
    Changed/Annotated <a href="{% url 'judgment_detail' pk=jm.pk %}">
  {% endif %}
  {{ jm.correction }}
  </a>
  </li>
  {% endfor %}
</ul>
{% endblock content %}
