{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% with utterance=correction.utterance %}
<h2>{{utterance.transcript.name}} - {{utterance.uid}}</h2>
<a href="{% url 'view_transcript' utterance.transcript.pk %}#u{{utterance.uid}}">
  View Utterance in Context
</a>
<form method="POST">
  <div class="utterance fluid-row">
    <div class="maintier">
      *{{utterance.speaker}}: {{utterance.main_tier}}
    </div>
    <div class="offset1">
      <ul class="inline">
	{% for word in mortier %}
	<li class="{% if forloop.counter in target_index %}error{% endif %}">
	  <div>
	    <span>{{word}}</span>
	    {% if forloop.counter in target_index %}
	    → <span class="correction">{{correction.replacement}}</span>
	    {% endif %}
	  </div>
	</li>
	{% endfor %}
      </ul>
    </div>
    {% endwith %}
  </div>
  <div class="errorspec">
    <div class="row error">
      <div class="span2">ERROR: </div>
      <div class="span10"><span>{{correction.error}}</span></div>
    </div>
    <div class="row replacement">
      <div class="span2">REPLACEMENT: </div>
      <div class="span10"><span>{{correction.replacement}}</span></div>
    </div>
  </div>
  {% block form_content %}
  {% endblock form_content %}
</div>
</form>
{% endblock content %}
