{% extends "base.html" %}
{% load url from future %}

{% block content %}
{% with correction=judgment.correction %}
{% with utterance=correction.utterance %}
<h2>{{utterance.transcript.name}} - {{utterance.uid}}</h2>
<a href="{% url 'view_transcript' utterance.transcript.pk %}#u{{utterance.uid}}">
  View Utterance in Context
</a>
{% if judgment.approved %}
<h3 class="right-align">Approved by {{ judgment.author }}</h3>
{% else %}
<h3 class="right-align">Changed by {{ judgment.author }}</h3>
<blockquote>{{ judgment.notes }}</blockquote>
{% endif %}
<div class="utterance fluid-row">
  <div class="maintier">
    *{{utterance.speaker}}: {{utterance.main_tier}}
  </div>
  <div class="offset1">
    <ul class="inline">
      {% for word in mortier %}
      <li class="{% if forloop.counter in target_index %}error{% endif %}">
	<div>
	  <span>{{word}}</span>
	  {% if forloop.counter in target_index %}
	  → <span class="correction">{{correction.replacement}}</span>
	  {% endif %}
	</div>
      </li>
      {% endfor %}
    </ul>
  </div>
</div>
<div class="errorspec">
  <div class="row error">
    <div class="span2">ERROR: </div>
    <div class="span10"><span>{{correction.error}}</span></div>
  </div>
  <div class="row replacement">
    <div class="span2">REPLACEMENT: </div>
    <div class="span10"><span>{{correction.replacement}}</span></div>
  </div>
</div>
{% if not judgment.approved %}
<h3>{{ judgment.author }}'s version</h3>
<div class="errorspec">
  <div class="row error">
    <div class="span2">ERROR: </div>
    <div class="span10"><span>{{judgment.error}}</span></div>
  </div>
  <div class="row replacement">
    <div class="span2">REPLACEMENT: </div>
    <div class="span10"><span>{{judgment.replacement}}</span></div>
  </div>
</div>
{% endif %}
{% block form_content %}
{% endblock form_content %}
</div>
{% endwith %}
{% endwith %}

{% endblock content %}
