{% extends "judgments/form_base.html" %}
{% load url from future %}

{% block form_content %}
{% csrf_token %}
<table>
  {% csrf_token %}
  {{form.as_table}}
</table>
  <input type="submit" class="btn btn-success button approve" value="Approve Correction"/>
  <input type="submit" class="btn btn-warning button edit" name="edit_correction"
	 value="Edit Correction"/>
  <input type="submit" class="btn button edit" name="skip_correction" value="Skip"/>
{% endblock form_content %}
