
{% extends "base.html" %}
{% load url from future %}

{% block content %}
<div class="row-fluid">
  <div class="span6">
    <h2>Corrections</h2>
  <p> {{total_unchecked}} / {{total_corrections}} still need approval.</p>

  <ul>
  {% for transcript in transcript_list %}
    {% with corrections=transcript.corrections %}
      {% if corrections %}
      <li>
	<a href="{% url 'next_correction' %}?transcript={{transcript.pk}}">
	  {{transcript}}
	</a>
	<em>{{transcript.unchecked_utterances.count}} / {{transcript.corrections.count}}</em>
      </li>
      {% endif %}
    {% endwith %}
  {% endfor %}
  </ul>
  </div>
  <div class="span6">
    {% if leader_board %}
    <h2>Leader Board</h2>
    <ol>
    {% for user in user_list %}
      <li>
	<h4>{{ user }}</h4>
	<ul>
	  <li>{{ user.judgment_set.count }} judgments</li>
	  <li>{{ user.time }} mean seconds per judgment</li>
	  <li>{{ user.sessions }} mean judgments per session</li>
	</ul>
      </li>
    {% endfor %}
    </ol>
  </div>
  {% endif %}
</div>
{% endblock content %}
