{% extends "base.html" %}
{% load url from future %}

{% block content %}
<pre>
{{object.headers|safe}}
</pre>

{% for utterance in object.utterance_set.all %}
<pre id="u{{utterance.uid}}">
*{{ utterance.speaker }}: {{utterance.main_tier}}
      {{utterance.mor_tier}}
</pre>
{% endfor %}

<pre>
{{object.footers|safe}}
</pre>

{% endblock content %}
